<div style="height: 100vh;">
  <h1>My Education</h1>
  <br>
  <div class="timeline-wrapper">
    <ul class="StepProgress">
          <li class="StepProgress-item is-done">
              <div class="bold time">2021</div>
              <div class="bold"> Udemy - Angular The Complete Guide (2021 Edition)</div>
              <div class="details">33.5 hours, by Maximilian Schwarzmüller</div>
          </li>
          <li class="StepProgress-item is-done">
              <div class="bold time">2021</div>
              <div class="bold"> Udemy - The Complete Node.js Developer Course</div>
              <div class="details">35 hours, by Andrew Mead and Rob Percival</div>
          </li>
          <li class="StepProgress-item is-done">
            <div class="bold time">2017 - 2020 </div>
            <div class="bold">HIT - B.Sc. Computer Science</div>
            <div class="details">Graduated in honor, GPA: 91</div>
          </li>
          <li class="StepProgress-item is-done">
              <div class="bold time">2020</div>
              <div class="bold">Udemy - The Modern Javascript Bootcamp Course (2020)</div>
              <div class="details">52 hours, by Colt Steele and Stephen Grider</div>
          </li>
          <li class="StepProgress-item is-done">
              <div class="bold time">2009 - 2013</div>
              <div class="bold">Ort Holon High School</div>
          </li>
      </ul>
  </div>
  <br>
  <div class="container">
  <img src="../../assets/images/angular.png">
  <img src="../../assets/images/nodejs.png">
  <img src="../../assets/images/javascript.png">
  <img src="../../assets/images/java.png">
  <img src="../../assets/images/C.png">
  <img src="../../assets/images/html.png">
  <img src="../../assets/images/css.png">
  <img src="../../assets/images/mongoDB.png">
  <img src="../../assets/images/git.png">
  </div>
</div>

