.container {
  display: flex;
  flex-direction: row;
  background-color: #232b2b;
}

.rectangle-red {
  display: flex;
  flex-direction: column;
  border: 10px solid #bd0331;
  margin: 20px;
  margin-bottom: 0px;
  margin-bottom: 10px;
  width: 360px;
  height: 703px;
}

.buttons {

  align-self: center;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
a{
  margin: 10px;
}

p {
  margin-left: 5px;
  color:white;
  width: 300px;
  padding: 20px;
  font-family: 'Helvetica';
}

h3 {
  margin: 5px;
  color:white;
  padding: 20px;
}

.title {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.img {
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: auto;
}

.desciription {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: auto;
}
