<div class="all-page">
  <div class="container">
    <div class="text">
      <h2>Hello,</h2>
      <p>My name is Roei Badur , I am Full-Stack developer located in Tel Aviv,Israel.
        I graduated in honor  a Bachelor’s Degree in Computer Science , AVG 91 and I’m currently looking for a junior job in which I can share my knowledge and skills.
        I work in part time job as a Full-Stack developer at Level App and in student job as a IT Specialist at Verint.
        </p>
    </div>
    <div class="image">
      <img src="../../assets/images/profile.jpg" alt="profileImg">
    </div>
  </div>
  <div class="buttons">
    <button type="button" routerLink="" fragment = "projects">View my work </button>
    <button type="button" (click)="onCV('doc')">Roei CV Doc</button>
    <button type="button"(click)="onCV('pdf')">Roei CV PDF</button>
  </div>
</div>
