<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <a routerLink = "/home" style="text-decoration: none;"><h3>Roei Badur</h3>
      <p> Full-Stack Developer</p></a>
    </div>
    <br><br><br>
    <ul class="list-unstyled components">
      <li><a routerLink = '/home'> Home </a></li>
      <li><a routerLink = '/home' fragment = "education"> Education </a></li>
      <li><a routerLink = '/home' fragment = "projects"> Projects </a></li>
      <li><a routerLink = '/home' fragment = "career"> Career </a></li>
      <li><a routerLink = '/home' fragment = "contact"> Contact </a></li>
    </ul>
    <div class="images">
      <a href="https://github.com/roeibadur" target="_blank"><img src="../../assets/images/github.png" alt="Github"></a>
      <a href="https://www.facebook.com/roei.badur/" target="_blank"><img src="../../assets/images/facebook.png" alt="Facebook"></a>
      <a href="https://www.linkedin.com/in/roei-badur/" target="_blank"><img src="../../assets/images/linkedin.png" alt="LinkedIn"></a>
      <a href="mailto: roei.badur17@gmail.com" target="_blank"><img src="../../assets/images/email.png" alt="Mail"></a>
    </div>
  </nav>
</div>
