<div class="container">
  <h1>My Career</h1>
  <br>
  <div class="work">
    <img src="../../assets/images/levelApp.png" >
    <h3>Full-Stack Developer – part time position | Level App | December 2020 - Now</h3>
  </div>
  <br>
  <p>I work as a Full-Stack developer at Level App company, building web-applications using Angular 9 with NodeJS.</p>
  <pre>          I use Git to build, update, maintain and review the projects.</pre>
  <br>
  <div class="work">
    <img src="../../assets/images/verint.png">
    <h3>IT Specialist – student position | Verint | February 2019 – Now</h3>
  </div>
  <br>
  <p>During my work I learned how to work under pressure and achieve good results within the company's structure</p>
  <pre>          incorporating new technologies that the company deals with.</pre>
</div>
